{% extends 'base.html.twig' %}
{% form_theme formCreation 'bootstrap_4_layout.html.twig' %}
{% block body%}
    <div class="m-3 p-2">
        {% if type == "chantier" %}
            <h1>Ajout d'un Chantier</h1>
            <hr>
            {{ form_start(formCreation) }}
            {{ form_row(formCreation.description , {'attr':{'placeholder':"Description du chantier"}}) }}
            {{ form_row(formCreation.datedebut ) }}
            {{ form_row(formCreation.datefin ) }}
            {{ form_row(formCreation.type , {'attr':{'placeholder':"Type du chantier"}}) }}
            {{ form_row(formCreation.statut , {'attr':{'placeholder':"Statut du chantier"}}) }}
            <button type="submit" class="btn btn-success mt-3">Ajouter le chantier</button>
            {{ form_end(formCreation) }}
        {% else %}
            <h1>Ajout d'un Interlocuteur</h1>
            <hr>
            {{ form_start(formCreation) }}
            {{ form_row(formCreation.nom , {'attr':{'placeholder':"Nom de l'interlocuteur"}}) }}
            {{ form_row(formCreation.prenom , {'attr':{'placeholder':"Prénom de l'interlocuteur"}}) }}
            {{ form_row(formCreation.fonction , {'attr':{'placeholder':"Fonction de l'interlocuteur"}} ) }}
            {{ form_row(formCreation.telephone , {'attr':{'placeholder':"Télèphone de l'interlocuteur"}}) }}
            <button type="submit" class="btn btn-success mt-3">Ajouter l'interlocuteur</button>
            {{ form_end(formCreation) }}
        {% endif %}
    </div>
{% endblock %}