{% extends 'base.html.twig' %}
{% block body %}
    <style>
        a{
            color: aliceblue;
            text-decoration: none;
        }
        a:hover{
            cursor: pointer;
            color: aliceblue;
        }
    </style>
    <div class="container">
        <div class="container text-center">
            <button type="button" class="btn btn-primary mx-5">
                <a href="{{ path('app_add',{'id':'affectation'}) }}">Ajouter</a>
            </button>
            <button type="button" class="btn btn-success mx-5">
                <a href="#">Chercher</a>
            </button>
        </div>
        <section class="contanier my-5">
            <table class="table text-center">
                <thead>
                <tr>
                    <th >Nom</th>
                    <th >Prénom</th>
                    <th >Chantier</th>
                    <th >Date Début du chantier</th>
                    <th >Date Fin du chantier</th>
                </tr>
                </thead>
                <tbody>
                {% for inter in inters %}
                    {% for c in inter.chantier %}
                        <tr>
                            <td>{{ inter.nom }}</td>
                            <td>{{ inter.prenom }}</td>
                            <td>{{ c.nomChantier  }}</td>
                            <td>{{ c.dateDebut| date('d/m/y')  }}</td>
                            <td>{{ c.dateFin | date('d/m/y')  }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        </section>
    </div>
{% endblock %}